
.vertical-timeline-element-title{
    font-size: 28px;
    font-weight: 700;

}
.vertical-timeline-element-subtitle{
    font-size: 22px;
    font-weight: 500;
}
.vertical-timeline-element-text{
    font-size: 50px;
    font-weight: 400;
}
// VerticalTimelineElement[date='']{
//     color: red !important;
// }
